<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Búsqueda: <input ng-model="query">
      Ordenar por:
      <select ng-model="ordenProp">
        <option value="name">Alfabética</option>
        <option value="age">El más nuevo</option>
      </select>
    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="telefono in telefonos | filter:query | orderBy:ordenProp" class="thumbnail">
          <a href="#/telefonos/{{telefono.id}}" class="thumb"><img ng-src="{{telefono.imageUrl}}"></a>
          <a href="#/telefonos/{{telefono.id}}">{{telefono.name}}</a>
          <p>{{telefono.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
