<!doctype html>
<html lang="es" ng-app="phonecatAp">
<head>
  <meta charset="utf-8">
  <title>Galeria de Telefonos Google</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controladores.js"></script>
</head>
<body ng-controller="ListaTelefonosCtrl">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Búsqueda: <input ng-model="query">
      Ordenar por:
      <select ng-model="ordenProp">
        <option value="name">Alfabética</option>
        <option value="age">El más nuevo</option>
      </select>
    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="telefono in telefonos | filter:query | orderBy:ordenProp">
          {{telefono.name}}
          <p>{{telefono.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>

</body>
</html>
